.canceled_order{
  background-color: #e88888
}
#date-input{
  margin-bottom: 0px !important;
}
.filter-row{
  display: flex;
}
.button_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top:24px; 
}
.date-container {
	display: flex;
	align-items: flex-end;
}