
    <div class="center-align" id="first-container">
      <div class="center-align" id="INTRO-TEXT">Route Optimization Software</div>
      <div  class="center-align" id="intro-text">We develop custom routing software to meet your specific needs</div>
      <a  class="center-align waves-effect waves-light btn modal-trigger red lighten-1" id="first-center-button">Start Free Trial</a>
      <!-- <div class="rocket">
        <img id="truck-img" src="assets/dumpster_truck.png">
      </div> -->
    </div>

    <div class="center-align" id="second-container">
       <div class="row">
         <div class="col s12 m4 l4">
           <div class="card white lighten-3">
             <div class="card-content black-text">
               <span class="card-title">Save Time</span>
               <p>Save your dispatcher time by automatically generating the routes
                 for each day </p>
             </div>
           </div>
         </div>
         <div class="col s12 m4 l4">
           <div class="card white lighten-3">
             <div class="card-content black-text">
               <span class="card-title">Cut Costs</span>
               <p>Minimize distance and time traveled by drivers</p>
             </div>
           </div>
         </div>
         <div class="col s12 m4 l4">
           <div class="card white lighten-3 ">
             <div class="card-content black-text">
               <span class="card-title">Increase Effeciency</span>
               <p>Take on more orders in one day and decrease costs spent on fuel</p>
             </div>
           </div>
         </div>
      </div>
      <div class="card blue-grey lighten-4 " id="text-promo">
         "Access, Plan, and Optimize your routes from anywhere! Scalable Cloud Based application for businesses small and large."
      </div>


      <div class="left-align" id="getting-started">Getting Started</div>
      <div class="row" id="site-image_container">
        <li class="col l3 center-align" id="site-info-text">Upload your Sites, Customers, Orders, and Drivers with the upload
        form or a CSV file</li>
        <div class="col l9">
          <img  class="right-align" id="site-image"  src="assets/add_site.png">
        </div>
      </div>
      <img  id="site-image-modal"  src="assets/add_site_modal.png">
      <img  id="site-image-csv"  src="assets/add_site_csv.png">
    </div>

    <div id="fourth-container">
      <div class="row" id="site-image_container">
        <li class="col l3 center-align" id="site-info-text">Enter the number of Drivers and hit Compute. Its that easy!
        </li>
        <div class="col l9">
          <img  class="right-align" id="site-image"  src="assets/compute_image.png">
        </div>
      </div>
    </div>
